<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="WeDr" class="logo">
        </header>
        <main>
            <h1>WeDr</h1>
            <div class="image-container">
                <img src="{{ url_for('static', filename='images/placeholder.png') }}" alt="음식 사진">
            </div>
            <p>나의 사진으로 퍼스널컬러를 간단하게 알아보세요!</p>
            <button class="test-button" onclick="startTest()">테스트 하러가기</button>
        </main>
        <pre>

        </pre>
        <footer>
            <p>WeDr © 2024. All rights reserved.</p>
            <div class="social-links">
                <a href="https://www.instagram.com/dyo_asteria_">NATHAN</a>
                <a href="#">EVE</a>
                <a href="https://www.instagram.com/bt_mincho">ERIC</a>
                <a href="https://www.instagram.com/dx_siij/">RUBY</a>
                <a href="https://www.instagram.com/dx_siij/ljwshorts">GARDEN</a>
            </div>
            <div class="social-icons">
                <a href="#"><img src="{{ url_for('static', filename='images/instagram-icon.png') }}" alt="Instagram"></a>
            </div>
        </footer>
    </div>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
