<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Color Test - 제출할 사진 예시</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
<div class="container">
    <header>
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="WeDr" class="logo">
    </header>
    <main>
        <div class="image-container">
            <img id="previewImage" src="{{ url_for('static', filename='images/placeholder.png') }}" alt="제출한 사진">
        </div>
        <input type="file" id="photoInput" accept="image/*" onchange="previewAndResizeImage(event)">
        <div class="instructions">
            <div class="instruction-item">
                <img src="{{ url_for('static', filename='images/icon1.png') }}" alt="주의사항">
                <p>10시~16시 사이의 밝은 형광등 아래에서 촬영할 것</p>
            </div>
            <div class="instruction-item">
                <img src="{{ url_for('static', filename='images/icon2.png') }}" alt="주의사항">
                <p>얼굴은 정면으로 바라보고 화장하지 않은 상태에서 촬영할 것</p>
            </div>
            <div class="instruction-item">
                <img src="{{ url_for('static', filename='images/icon3.png') }}" alt="주의사항">
                <p>기본 카메라로 무보정 상태에서 촬영할 것</p>
            </div>
        </div>
        <button class="blue-button" id="submitButton" onclick="submitPhoto()">
            <span class="button-text">사진 제출 하기</span>
            <span class="loading-indicator">
                <span class="loading-text">분석 중&nbsp;</span>
                <span class="loading-dots">...</span>
            </span>
        </button>
        <button class="gray-button" onclick="goBack()">뒤로 가기</button>
    </main>
    <footer>
        <div class="footer-left">
            <p>© 2024 WeDr. All rights reserved.</p>
        </div>
        <div class="footer-right">
            <a href="https://www.instagram.com/wedr.uyu">
                <img src="{{ url_for('static', filename='images/instagram-icon.png') }}" alt="Instagram">
            </a>
        </div>
    </footer>
</div>

<script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
